body{
  background-color: black;
  padding: 55px 0;
}

/* --- Navbar ---*/

.navbar {
  background-color: white;
}

.nav-tabs {
    margin-bottom: 15px;
}

.nav-tabs>li.active>a, 
.nav-tabs>li.active>a:hover, 
.nav-tabs>li.active>a:focus {
    color: #555;
    font-size: 1.5em;
    text-decoration: none;
    cursor: default;
    background-color: #fff;
    border: 1px solid #ddd;
    border-bottom-color: transparent;
}

.nav-tabs>li>a {
    text-decoration: none;
    margin-right: 2px;
    font-size: 1.5em;
    line-height: 1.42857143;
    border: 1px solid transparent;
    border-radius: 4px 4px 0 0;
}

.nav-tabs li .active {
  color: green;
  border: 2px solid #ddd;
  border-bottom: none;

}

/* --- Modal Logn/REgistration ---*/

.sign-with {
    margin-top: 25px;
    padding: 20px;
}

div #OR {
    height: 30px;
    width: 30px;
    border: 1px solid #C2C2C2;
    border-radius: 50%;
    font-weight: bold;
    line-height: 28px;
    text-align: center;
    font-size: 12px;
    float: right;
    position: absolute;
    right: -16px;
    top: 40%;
    z-index: 1;
    background: #DFDFDF;
}

/* --- CARD ---*/

.card {
  margin: 1em 0;
  width: 22em;
  border: none;
  border-bottom: 1em solid grey;
  border-radius: none;
}

.card img {
  height: 35vh;
  width: auto;
}

.card-body {
  border-bottom: 2em;
  border-color: red;
  height: auto;
  min-height: 13vh;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px; /* Vertically center the text there */
  background-color: #f5f5f5;
}

